<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBYCSrrOfTo3FfqCMy-VQbVjUkpAzXY25k</string>
	<key>GCM_SENDER_ID</key>
	<string>702031720492</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Makeev095.Makko</string>
	<key>PROJECT_ID</key>
	<string>makko-e8706</string>
	<key>STORAGE_BUCKET</key>
	<string>makko-e8706.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:702031720492:ios:64c4501ef3bae73e9c6189</string>
</dict>
</plist>